/* Default styles (Mobile-First: for < 744px) */
.navigationBarContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: whitesmoke;
  z-index: 1;
  justify-items: center;
  align-items: center;
  height: 95px;
  padding: 0 5%;
  position: fixed;
  width: 100%;
  top: 0;
}

.navigationBarContainer * {
  font-size: var(--fontsize-m); /* Start with smaller font */
  text-decoration: none;
  color: var(--font-black);
  transition: scale ease-in-out 0.2s;
  cursor: default;
}

.navigationBarContainer > .desktop *:hover {
  scale: 1.05;
}

.navigationBarContainer > a:nth-child(3) {
  font-family: "Alfa Slab One";
  color: var(--font-blue);
}

.getStartedBtn {
  white-space: nowrap;
  justify-self: end;
  font-size: var(--fontsize-s);
  border: solid 2px var(--font-black);
  padding: 5px 20px;
  border-radius: 100px;
  box-shadow: 1px 2px 5px var(--font-black);
  transition: background-color ease-in-out 0.3s;
}

.getStartedBtn:hover {
  background-color: var(--font-orange);
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
  justify-content: flex-start;
  padding-right: 30px;
}

.menuIcon {
  width: 24px;
  height: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;

  /* Make the overlay unclickable when Mobile Menu is not toggled. */
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* Tablet Screen (744px and up) */
@media screen and (min-width: 744px) {
  .navigationBarContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .getStartedBtn {
    font-size: var(--fontsize-m);
    border: solid 3px var(--font-black);
    padding: 5px 30px;
  }

  /* Hide mobile elements */
  .mobile {
    display: none;
  }

  /* Show desktop elements */
  .desktop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
  }
}

/* Desktop Screen (1200px and up) */
@media screen and (min-width: 1200px) {
  .navigationBarContainer {
    height: 150px;
  }
  .navigationBarContainer * {
    font-size: var(--fontsize-l);
  }
  .getStartedBtn {
    border: solid 5px var(--font-black);
  }

  .navigationBarContainer > .desktop {
    gap: 100px;
  }
}
