.formsContainer {
  height: calc(100vh - 95px);
  width: 100%;
  position: relative;
  top: 95px; /* Push the main content away from the fixed navigation bar */
  margin-bottom: 10px;
}

.selection {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: calc(100vh - 100px);
  width: 98%;
  z-index: -1;
  border: 4px solid var(--font-black);
  background-color: #618fb8;
  transition: 0.3s ease-in-out;
}

.selection.switch {
  top: calc(
    100vh - 95px
  ); /* To push to the selection container slightly below from the top */
  background-color: #7cb5af;
}

/* Tablet Screen (744px and up) */
@media screen and (min-width: 744px) {
  .formsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .selection {
    height: 75%;
    top: 37.5%;
    left: 10px;
    transform: translate(0, -37.5%);
    width: 50%;
  }
  .selection.switch {
    top: 37.5%;
    left: 49%;
  }
}

/* Desktop Screen (1200px and up) */
@media screen and (min-width: 1200px) {
  .formsContainer {
    height: calc(100vh - 150px);
    max-width: 1920px;
    top: 150px;
    margin-bottom: 0;
  }

  .selection {
    top: 37.5%;
    transform: translate(0%, -37.5%);
    height: 75%;
  }

  .selection.switch {
    top: 37.5%;
    left: 49%;
  }
}

@media (orientation: landscape) and (max-width: 932px) {
  .formsContainer {
    display: block;
  }

  .selection {
    position: absolute;
    top: 0;
    left: 50%;
    height: calc(100vh - 100px);
    transform: translate(-50%, 0);
    width: 98%;
  }

  .selection.switch {
    top: calc(
      100vh - 95px
    ); /* To push to the selection container slightly below from the top */
    background-color: #7cb5af;
    left: 50%;
  }
}
